<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Need Name</title>

    <!-- Bootstrap core CSS -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/art.css" rel="stylesheet">
    <link href="stylesheets/about.css" rel="stylesheet">
    <!-- Add custom CSS here -->

</head>
<div id="top2">
<body background="images/background2.jpeg">
<a class="navbar-brand" href="home" style="border-right:1px solid lightgray;">NEED NAME</a>
<div class="collapse navbar-collapse navbar-default navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="about">About</a>
                    </li>
                    <li><a href="upload">Upload</a>
                    </li>
                    <li><a href="gallery">Gallery</a>
                    </li>
                </ul>
            </div>
   </div>

   <p id="about1">Let this...</p>
   <img id="about2" src="images/pencil.jpg" height="400px">
   <img id="about4" src="images/paint.jpg">
   <p id="about3">Be the answer to... </p>
   <div id="about5">Due to lack of funding, many students in the Chicago area lose an important opportunity to engage in fine arts. This program encourages students from the 1st grade to the 12th. With your $1 donation you will be providing art supplies to many young artists. Most importantly your each submission is kept in our gallery archive!
    <br><br>
    Your donation will go towards opportunities for fine arts to be a part of students lives. These opportunities include after school events at open venues (YMCA) and providing students with art supplies.
    </p></div>
    <!-- JavaScript -->
    <script src="javascripts/jquery-1.10.2.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/bare.js"></script>

</body>

</html>
