<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Need Name</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/art.css" rel="stylesheet">

    <!-- Add custom CSS here -->

</head>

<body background="images/background2.jpeg">
<div id="top2">
<a class="navbar-brand" href="home" style="border-right:1px solid lightgray;">NEED NAME</a>
<div class="collapse navbar-collapse navbar-default navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="about">About</a>
                    </li>
                    <li><a href="upload">Upload</a>
                    </li>
                    <li  class="active"><a href="gallery">Gallery</a>
                    </li>
                </ul>
            </div>
            </div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Welcom to the Gallery!!</h3> <hr/>
        </div>
    </div>
    
    <div class="row"  id="gallerylist">
    </div>


     <!-- /.container -->






    <!-- JavaScript -->
    <script src="javascripts/jquery-1.10.2.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/gallery.js"></script>

</body>

</html>
